extends ../layout

block content
  .content_container
    .header_container
      .upper_picture_container
        img.thumbnail(src=profile.profile_picture_url || `https://graph.facebook.com/${profile.id}/picture?type=large`, alt=(profile.name || profile.username))
      h4= profile.name

    p Below you should be able to see a list of all Instagram accounts you've linked to bidin.bio. Select one to start automating the bidding.
    
    .page-header
      h2
        i.fa.fa-instagram(style='color: #335397')
        | Instagram accounts
    .btn-group.btn-group-justified
      each igUser in profile.IGUsers
        a.btn.btn-primary(href=`/instagram/${igUser.id}`)
          i.fa.fa-check-square-o
          | #{igUser.username}

    p If you can't see the expected account or something isn't working, shoot us a message at 
      a(href='https://www.instagram.com/bidin.bio/') @bidin.bio