extends ../layout

block content
  .content_container
    .header_container
      .upper_picture_container
        img.thumbnail(src=account.profile_picture_url, alt=(account.name || account.username))
      h4= account.username

    p To start the automation:
      ul
        li Make a post on Instagram (just like you always do)
        li In the caption, add a command in the format: @bidin.bio 6/30, where "6" is the starting price and "30" is "Buy it now" (aka BIN).
        li Check in the comments below the post if you've received a reply from @bidin.bio the automation has started.
        li To keep track of the bids, reload this page and select the post from the list.

    h4 Automations:
    div.medias
      each media in medias
        if(media.auctionId)
          div.media
            a(href=`/auction/${media.id}`)
              img(src=media.media_url)
            .media_button
              form(action=`/auction/${media.id}`)
                button(type='submit') View
