extends ../layout

block content
  .auction
    h3
    | Automation
    .img-block
      img(src=auction.media.media_url)
    .form-group.row.justify-content-md-center
      .col-sm-12
        b Status
      .col-sm-12
        p=auction.status
    .form-group.row.justify-content-md-center
      .col-sm-12
        b Starting price
      .col-sm-12
        p=auction.startingPrice
    .form-group.row.justify-content-md-center
      .col-sm-12
        b BIN
      .col-sm-12
        p=auction.bin
    .form-group.row.justify-content-md-center
      .col-sm-12
        b Number of bids
      .col-sm-12
        p=auction.bids.length
      .col-sm-12
        b Latest bid
      .col-sm-12
        if(auction.bids.length > 0)
          p=`$${auction.bids[auction.bids.length - 1].ammount} by ${auction.bids[auction.bids.length - 1].username}`
        else
          p 0

      if (auction.status === 'finished')
        .form-group.row.justify-content-md-center
          .input-daterange.col-sm-12
            b Winner
              .col-sm-12(id='time_end')
              if (auction && auction.winner && auction.winner.username)
                p=`$${auction.winner.ammount} by ${auction.winner.username}`
              else
                p there is no winner
        if (auction && auction.winner && auction.winner.username)
          form(action=`/auction/backed/${auction.mediaId}`, method='post')
            .form-group.row.justify-content-md-center
              .col-sm-4
                button.btn.btn.btn-primary(type='submit')
                  i.fa.fa-pencil
                  | Buyer backed out
      else
        .form-group.row.justify-content-md-center
          .col-sm-12
            label.col-sm-12.col-form-label.text-left.font-weight-bold(for='prolongation') Will finish in 
            .col-sm-12
              p=(Math.abs(new Date(auction.end).getTime() - new Date().getTime()) / 3600000) > 1 ? `${Math.round(Math.abs(new Date(auction.end).getTime() - new Date().getTime()) / 3600000)} hours`: 'Less that hour'
        .col-sm-12
          form(action=`/auction/${auction._id}`, method='delete')
            .form-group.row.justify-content-md-center
              .col-sm-4
                button.btn.btn.btn-primary(type='submit')
                  i.fa.fa-pencil
                  | Cancel auction
